* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 50px;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  color: #333;
}
.underline {
  width: 125px;
  height: 3px;
  background-color: orange;
  display: block;
  margin: 0 auto;
}

.container-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  margin: 1.25rem;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  border: 0;
  background: transparent;
}

.content {
  margin: 0 auto;
  width: 90vw;
  display: block;
}
.container-recipes {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.individual-recipe {
  margin: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.description {
  margin-top: 0.25rem;
  font-size: 18px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 25px;
  font-weight: bold;
}

img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1500px) {
  .container-recipes {
    width: 70vw;
    grid-template-columns: repeat(2, 35vw);
  }
}

@media (max-width: 750px) {
  .container-recipes {
    grid-template-columns: 95vw;
  }
}
